{% extends 'base.html' %}
{% block content %}

{% load socialaccount %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Register</h2>
            <form>
              <!-- Email input -->
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <!-- Password input -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
              </div>
              <!-- Confirm password input -->
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" required>
              </div>
              <!-- Register button -->
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
            <!-- Google sign-in button -->
            <div class="d-grid mt-3">
              <a class="btn btn-outline-dark" type="button" href="{% provider_login_url 'google' process='login' %}?next=/properties/">
                <i class="fab fa-google me-2"></i> Sign up with Google
              </a>
            </div>
            <!-- Sign in link -->
            <p class="text-center mt-3">
              Already a user? <a href="#">Sign In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
